.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  padding: 0;
}


.imgs
{
    position: absolute;
    width: 60%;
    height: 60%;
}



.left 
{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 25%;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.left :hover
{
  /* font-weight: bold;
  /* text-decoration: underline; */
  /* padding: 5px 5px; */
  /* font-size: large; */

  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
} 

.right h1
{
  position: absolute;
  right: 12%;
  top: 6%;
  width: 20%;
}


.right p
{
  position: absolute;
  width: 25%;
  right: 7%;
  top: 20%;
  color: gray;
}

.right h3
{
  cursor: pointer;
  position: absolute;
  top: 38%;
  right: 20%;
  letter-spacing: 10px;
}

.right h3:hover
{
  color: grey;
}

.right img
{
  cursor: pointer;
  position: absolute;
  right: 15%;
  top: 42%;
}



.bottom img
{
  position: absolute;
  bottom: 0%;
  height: 40%;
}

.bottom h2
{
  position: absolute;
  bottom: 25%;
  left: 32%;
}

.bottom p
{
  position: absolute;
  width: 35%;
  bottom: 7%;
  left: 32%;
  color: gray;
}

.bottom1 img
{
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 40%;
}

.imagess1 img{
  /* height: 100%; */
  width: 824px;
}


.prev,.next{
  display: inline-block;
  width: 50%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  /* background-color: rebeccapurple; */
}

.prev:hover,
.next:hover{
    background-color: gray;
}


.buttons{
  position: absolute;
  left: 64.5%;
  transform: translateX(-50%);
  top: 361px;
  width: 130px;
  height: 45px;
  box-shadow:-20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
border-radius: 1px;
/* background-color: white; */
background-color: black;
overflow: hidden;
}

.prev{
  left: 70px;
}

.next{
  right: 70px;
}

.next::after,
.prev::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.next::after{
  background-image: url(./images/icon-angle-left.svg);
}

.prev::after{
  background-image: url(./images/icon-angle-right.svg);
}




@media (max-width:858px){
  .imgs
{
    position: absolute;
    width: 100%;
    height: 50%;
}

.right h1
{
  position: absolute;
  /* right: 12%; */
  left: 20px;
  top: 50%;
  width: 60%;
}
.right p
{
  position: absolute;
  width: 60%;
  left: 20px;
  top: 65%;
  color: gray;
}
.right h3
{
  cursor: pointer;
  position: absolute;
  top: 85%;
  left: 20px;
  letter-spacing: 10px;
}

.right h3:hover
{
  color: grey;
}

.right img
{
  cursor: pointer;
  position: absolute;
  left: 230px;
  top: 88.5%;
}
.buttons{
  position: absolute;
  left: 87%;
  transform: translateX(-50%);
  top: 293px;
  width: 130px;
  height: 45px;
  box-shadow:-20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
border-radius: 1px;
/* background-color: white; */
background-color: black;
overflow: hidden;
}

.bottom img
{
  position: absolute;
  top: 98%;
  left: 0;
  width: 100%;
  height: 40%;
}

.bottom h2
{
  position: absolute;
  top: 143%;
  left: 5%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.bottom p
{
  position: absolute;
  width: 95%;
  top: 151%;
  left: 5%;
  color: gray;
}
.bottom1 img
{
  position: absolute;
  top: 170%;
  width: 100%;
  height: 40%;
}

.left 
{
    /* background-image: url('/images/icon-hamburger.svg'); */
    top: 3%;
    width: 0%;
    left: 5%;
    
}



.left  h3{
  display: none;
}

h3:hover,h3.active{
  color: #0082e6;
}

#check:checked ~ h3{
  left: 0;
}

.left :hover
{
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
}


}

